.centeredContentToolbar {
  text-align: center;
}
.itemLabel {
  padding: 5px;
}
.noItemsText {
  text-align: center;
  color: darkgray;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}
